### Import & Read CSV

In [50]:
import pandas as pd

In [51]:
game_df = pd.read_csv('Resources/purchase_data.csv')

In [62]:
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

In [56]:
player_count = len(game_df['SN'].value_counts())
Total_Players = pd.DataFrame({"Total Players": player_count}, index=[0])

Total_Players

   Total Players
0            576

### Purchasing Analysis

In [116]:
# number on unique items 
unique_items = len(game_df['Item ID'].unique())

# Average sale price 
avg_price = game_df['Price'].mean()
avg_price = round(avg_price, 2)

#Total number of purchases 
purchase_count = game_df['Purchase ID'].count()

#Total Revenue 
total_revenue = game_df['Price'].sum()

In [117]:
#create summary dataframe
Summary_Stats = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Sales Price": [avg_price],
                           "Total Purchase Count": [purchase_count],
                           "Total Revenue (US Dollars)": [total_revenue]})
Summary_Stats.head()

,Number of Unique Items,Average Sales Price,Total Purchase Count,Total Revenue (US Dollars)
0,179,3.05,780,2379.77

### Player Demographics (Gender)

In [118]:
gender = game_df.loc[:, ['SN', 'Gender']]
gender = gender.drop_duplicates ()
gender.shape

(576, 2)

In [98]:
gender.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [132]:
#Gender Count
gender_count = gender['Gender'].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [133]:
# Gender Precentage for Total Players
percentage = gender_count/player_count
percentage

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [134]:
# Create Gender Summary Table
Gender_Summary = pd.DataFrame({"Count" : gender_count,
                               "Percentage" : percentage})
Gender_Summary

                       Count  Percentage
Male                     484    0.840278
Female                    81    0.140625
Other / Non-Disclosed     11    0.019097

### Purchasing Analysis (Gender)

In [144]:
purchase_count=game_df.groupby(["Gender"]).count()["Price"]
avg_purchase_price=game_df.groupby(["Gender"]).mean()["Price"]
total_purchase_value=game_df.groupby(["Gender"]).sum()["Price"]

g_purchase_total=total_purchase_value/gender_count

summary_purchasing_analysis=pd.DataFrame({"Purchase Count":purchase_count,
                                         "Average Purchase Price":avg_purchase_price,
                                         "Total Purchase Value": total_purchase_value,
                                         "Normalized Total":g_purchase_total})

summary_purchasing_analysis=summary_purchasing_analysis.round(2)
summary_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Total
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

### Age Demographics

In [149]:
#bins 
bins = [0, 10, 15, 20, 25, 30, 25, 40, 150]
bin_titles = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40-44', '45+' ]

9